/* Background, foreground */
@define-color col-1 #0f0f0f;
@define-color col-2 #ececec;
/* Occupied tag background */
@define-color col-3 #303030;
/* Focused tag background */
@define-color col-4 #1d1d1d;
/* Tray, inhibitor modules background */
@define-color col-5 #151515;
/* Network, cpu modules alt foreground */
@define-color col-6 #c0c0c0;
/* Urgent color */
@define-color col-7 #ff5555;
/* Workspace normal foreground */
@define-color col-8 #3d3d3d;

* {
    border: none;
    border-radius: 0;
    /* Required ttf-nerd-fonts-symbols-mono package */
    font-family: "IBM Plex Sans", "Symbols Nerd Font Mono";
    font-weight: normal;
    font-size: 16px;
    min-height: 0;
}

.modules-left,
.modules-middle,
.modules-right {
    background-color: @col-1;
}

#waybar {
    background: @col-1;
}

#workspaces button,
#workspaces button.focused,
#workspaces button.urgent {
    min-width: 15px;
}

#workspaces button {
    color: @col-8;
}

#workspaces button:hover {
    color: @col-2;
    background-color: @col-4;
}

#workspaces button.focused {
    color: @col-2;
    background-color: @col-1;
}

#workspaces button.urgent {
    color: @col-7;
    background-color: @col-1;
}

#mode {
    color: @col-7;
    margin: 0 11px;
}

#disk,
#network,
#cpu {
    color: @col-6;
    margin: 0 11px;
}

#pulseaudio,
#memory,
#clock {
    color: @col-2;
    margin: 0 11px;
}

#network.disconnected {
    color: @col-7;
}

#pulseaudio.muted {
    color: @col-7;
}

#tray {
    margin: 0 11px;
}
